.two-columns__main-text {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  line-height: 24px;
  font-size: 18px;
  font-weight: normal;
  width: 80%;
  min-width: 784px;
}
